In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymssql

#### Connect to the SQL server

In [2]:
server = 'fs.rice.edu'
database = 'stocks'
username = 'stocks'
password = '6LAZH1'

string = "mssql+pymssql://" + username + ":" + password + "@" + server + "/" + database 
conn = create_engine(string).connect()

#### Read table names

In [3]:
pd.read_sql("select * from information_schema.tables", conn)

   TABLE_CATALOG TABLE_SCHEMA       TABLE_NAME  TABLE_TYPE
0         stocks          dbo      Definitions  BASE TABLE
1         stocks          dbo        Companies  BASE TABLE
2         stocks          dbo  FundamentalsARY  BASE TABLE
3         stocks          dbo  FundamentalsARQ  BASE TABLE
4         stocks          dbo    MarketMonthly  BASE TABLE
5         stocks          dbo      MarketDaily  BASE TABLE
6         stocks          dbo           Events  BASE TABLE
7         stocks          dbo       indicators  BASE TABLE
8         stocks          dbo          tickers  BASE TABLE
9         stocks          dbo              sf1  BASE TABLE
10        stocks          dbo            today  BASE TABLE
11        stocks          dbo            daily  BASE TABLE
12        stocks          dbo              sep  BASE TABLE
13        stocks          dbo         Insiders  BASE TABLE

#### Read column names of a table (example)

In [4]:
df = pd.read_sql("select * from FundamentalsARY where 1=2", conn)
for col in df.columns: print(col)

ticker
calendardate
datekey
reportperiod
lastupdated
accoci
assets
assetsavg
assetsc
assetsnc
assetturnover
bvps
capex
cashneq
cashnequsd
cor
consolinc
currentratio
de
debt
debtc
debtnc
debtusd
deferredrev
depamor
deposits
divyield
dps
ebit
ebitda
ebitdamargin
ebitdausd
ebitusd
ebt
eps
epsdil
epsusd
equity
equityavg
equityusd
ev
evebit
evebitda
fcf
fcfps
fxusd
gp
grossmargin
intangibles
intexp
invcap
invcapavg
inventory
investments
investmentsc
investmentsnc
liabilities
liabilitiesc
liabilitiesnc
marketcap
ncf
ncfbus
ncfcommon
ncfdebt
ncfdiv
ncff
ncfi
ncfinv
ncfo
ncfx
netinc
netinccmn
netinccmnusd
netincdis
netincnci
netmargin
opex
opinc
payables
payoutratio
pb
pe
pe1
ppnenet
prefdivis
price
ps
ps1
receivables
retearn
revenue
revenueusd
rnd
roa
roe
roic
ros
sbcomp
sgna
sharefactor
sharesbas
shareswa
shareswadil
sps
tangibles
taxassets
taxexp
taxliabilities
tbvps
workingcapital

#### Read daily-updated GHZ predictors that are in the database

In [7]:
df = pd.read_sql("select * from today", conn, parse_dates=["date"])
df.date = df.date.astype(str)
df = df.set_index("ticker")
df.iloc[:3, :18]

,siccode,date,roeq,acc,agr,bm,ep,gma,lev,operprof,beta,idiovol,mom12m,mom1m,price,marketcap,mve,name
ticker,,,,,,,,,,,,,,,,,,
A,3826,2023-01-05,0.072284,-0.005551,-0.016161,0.121124,0.028631,0.347688,0.119344,0.371312,0.901123,0.024986,0.270402,-0.025695,152.11,45035.5,10.715206,AGILENT TECHNOLOGIES INC
AA,3334,2023-01-05,-0.131663,-0.033521,0.011104,0.343781,0.031567,0.201817,0.643192,0.778315,1.876104,0.081866,0.425903,-0.104386,45.49,8048.9,8.993291,ALCOA CORP
AADI,2834,2023-01-05,-0.133119,-0.865276,2.514995,0.334394,-0.269881,0.024931,0.052716,-0.419343,0.594907,0.130991,-0.021898,-0.054478,12.52,305.4,5.721622,AADI BIOSCIENCE INC